@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
       url('/fonts/ttf/JetBrainsMono-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    @apply font-jetbrains bg-primary text-white leading-loose;
  }
}
